body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container_form{
    background-color: #0a1e35;
    border-radius: 15px;
    padding: 40px;
    opacity: 0.9;


}

img{
    width: 100px;
    height: 100px;
    margin-left: 115px;
    border-radius: 30% ;
    
}

h2{
    text-align: center;
    color: #048620;
}

input{
    display: block;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 20px;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
}

.cuadro{
    width: 15px;
    height: 15px;
    display: inline;
}
label{
    color: white;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 45px;

}


.boton{
    width: 150px;
    border-radius: 15px;
    background-color: #048620;
    color: whitesmoke;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #0b5a1c;
    margin-left: 110px;

}

a:hover{
    color: #b8b8b8;

}
label:hover{
    color: #b8b8b8;
}

.boton:active{
    background-color: #0b5a1c;
    width: 145px;
}
